# Godot
.import/
export_*
.godot/
.mono/
data_*/
mono_crash.*.json

# Build
/build/
/dist/
/coverage/
*.apk
*.aab

# User settings
user.cfg
*.tmp

# Env
.env
**/.env

# OS
.DS_Store
Thumbs.db

# Secrets
*.keystore
*.jks

# Godot cache
.project.godot.tmp

# Allow export_presets.cfg for Android build
!export_presets.cfg
!assets/icon.png
!project/assets/icon.png
